/* slider side CSS */
.slider-container {
  width: 100%;
  height: 400px;
  overflow: hidden;
  position: relative;
}

.slider-content {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  flex: 0 0 100%;
}

.logo-img-content {
  padding: 20px;
}

.logo-img-content h1 {
  color: #002058;
  font-weight: 500;
}

/* .logo-img-content p {
  color: #000;
} */
.slider-dots {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
}
.forgot-slider-dots {
  position: absolute;
  bottom: 38%;
  left: 50%;
  transform: translateX(-50%);
}

.slider-dot {
  width: 15px;
  height: 15px;
  border-radius: 30px;
  background-color: #FF6575;
  margin: 0 5px;
  display: inline-block;
  cursor: pointer;
  transition: width 0.3s ease;
}

/* .slide:active {
  opacity: 0;
  animation: slide 10s infinite;
} */

.slider-dot.active {
  background-color: #002058;
}
.slider-dot:hover {
  width: 60px;
  height: 15px;
  background-color: #FFB54A;
}


.slide {
  opacity: 0;
  transform: translateX(-100%);
  animation: slide 10s infinite;
}

.slide.active {
  opacity: 1;
  transform: translateX(0);
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  20% {
    opacity: 1;
    transform: translateX(0);
  }
  80% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}


.main-container {
  display: flex;
  flex-wrap: wrap;
  background-image: url(./login-bg.png);
}
a {
  text-decoration: none;
}
p{
  color: #685f78;
}
label{
  color: #685f78;
  display: flex;
}
.slider-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.error-message{
  display: flex;
  color: #e72f41;
}
.success-message{
  position: absolute;
  top: 10%;
  background: green;
  color: #fff;  
  padding: 10px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  /* margin: auto; */
  left: 67%;
  border-radius: 5px;
}
.slider-content {
  display: flex;
 
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  text-align: center;
}

.login-screen-image {
  max-width: 320px;
}
.logo-para {
    max-width: 570px;
    margin: auto;
}
/* Form CSS */

.form-head{
    text-align: left;
    width: 80%;
    font-weight: 400;
    color: #002058;
}
.form-para{
    margin-top: 0px;
    text-align: left;
    width: 80%;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: white;
  padding: 20px 20px;
  padding-top: 100px;
}
.form-logo-img {
  width: 150px;
}

.form-logo-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  /* padding: 20px 20px; */
}
form {
  width: 80%;
}
.error-message {
    font-size: 16px;
    /* margin-top: 3px; */
  }
  
.input {
  border: 1px solid #e9ecef;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  /* padding-left: 10px; */
  margin-bottom: 15px;
  /* margin-top: 15px; */
}
.checkbox {
  margin-bottom: 15px;
  width: 17px;
  height: 17px;
}
.check {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.check-box{
  display: flex;
  
}
.form-btn {
  margin-top: 20px;
  width: 103%;
  height: 40px;
  border: 1px solid #e9ecef;
  border-radius: 5px;
  background-color: #ff6575;
  color: #fff;
}
.form-btn:hover {
  background-color: #e72f41;
  color: #e9ecef;
}
.form-btn.disabled {
  background-color: lightgray;
  /* cursor: not-allowed; */
  margin-top: 20px;
  width: 103%;
  height: 40px;
  border: 1px solid #e9ecef;
  border-radius: 5px;
  color: #fff;
}

@media only screen and (min-width: 767px) and (max-width: 2560px) {
  .slider-container {
    display: block;
    width: 50%;
  }
}
@media only screen and (min-width: 767px) and (max-width: 2560px) {
  .main-container {
    flex-wrap: nowrap;
  }
}
@media only screen and (min-width: 767px) and (max-width: 2560px) {
  .form-container {
    width: 50%;
    padding-top: 0px;
  }
}
@media only screen and (min-width: 767px) and (max-width: 2560px) {
  .form-btn {
    width: 101%;
  }
  .form-btn.disabled {
    width: 101%;
  }

}
@media only screen and (min-width: 767px) and (max-width: 2560px) {
  .check {
    flex-direction: row;
  }
}
@media only screen and (min-width: 767px) and (max-width: 2560px) {
  .form-logo-content {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
.success-message {
  top: 2%;
  width: 63%;
  left: 6%;
}
}

@media only screen and (min-width: 767px) and (max-width: 1024px) {
  .success-message {
    top: 6%;
    width: 34%;
    left: 52%;
  }
  }